#welcomeuser{
    font-family: Arial;
}

#user{
    font-weight: bold;
    color: #6699ff;
}

#heading{
 /*   font-family: times, Times New Roman, times-roman, georgia, serif;*/
	/*color: #444;*/
	/*margin: 0;*/
	/*padding: 0px 0px 6px 0px;*/
	/*font-size: 51px;*/
	/*line-height: 44px;*/
	/*letter-spacing: -2px;*/
	/*font-weight: bold;*/
	/*padding-top: 20px;*/
	font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .04em;
}

.votescore{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.contentpost:link {
    text-decoration: none;
    color: #2d2db9;
    font-weight: bold;
    font-size: 20px;
    font-family: ;
    padding-left: 30px;
}

.contentpost:visited {
    text-decoration: none;
    color: #9898e6;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

.createdby{
    font-family: Tahoma;
    font-size: 14px;
    padding-left: 20px;
}

.usercreater{
    font-weight: bold;
    color: #FF8500;
}

.comments:link, .comments:visited{
    color: #666666;
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
    text-decoration: none;
}

.comments:hover, .comments:active{
    color: #808080;
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
    text-decoration: underline;
}

.link:link, .link:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}


.link:hover, .link:active {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}