@import url("nav.css");
#welcomeuser{
    font-family: Arial;
}

#user{
    font-weight: bold;
    color: #6699ff;
}

#heading{
 /*   font-family: times, Times New Roman, times-roman, georgia, serif;*/
	/*color: #444;*/
	/*margin: 0;*/
	/*padding: 0px 0px 6px 0px;*/
	/*font-size: 51px;*/
	/*line-height: 44px;*/
	/*letter-spacing: -2px;*/
	/*font-weight: bold;*/
	/*padding-top: 20px;*/
	font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .04em;
}

.votescore{
    margin-top: -3px;
    margin-bottom: -1px;
    font-weight: bold;
    color: grey;
    font-size: 15px;
}

.contentpost:link {
    text-decoration: none;
    color: #ff9900;
    font-weight: bold;
    font-size: 20px;
    font-family: ;
    padding-left: 10px;
}

.contentpost:visited {
    text-decoration: none;
    color: #ffc266;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

.createdby{
    font-family: Tahoma;
    font-size: 14px;
    padding-left: 20px;
}

.usercreater{
    font-weight: bold;
    color: #FF8500;
}

.comments:link, .comments:visited{
    color: #666666;
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
    text-decoration: none;
}

.comments:hover, .comments:active{
    color: #808080;
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
    text-decoration: underline;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#pages{
    margin: 0 auto;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.contentRow {
  display:flex;
  justify-content: flex-start;
  align-content: center;
}
.contentVotescore {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.contentContent {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.contentTitle {
  display:flex;
}

.contentMetaData {
  display:flex;
  justify-content: flex-end;
}
.contents {
  display: flex;
  justify-content: space-between;
}
.contentButton {
  display: inline-block;
  background-color: #ff9900;
  color: white;
  padding: 5px 60px;
  margin-top: 50px;
  font-family: "Arial", Serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  border-radius: 2px;
}
.contentButton:hover {
  background-color: #00cc00;
}
.metatext {
  color: #808080;
  font-weight: bold;
  padding-left: 20px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.metatext:hover, .metatext:active {
  text-decoration: underline;
}
