extends layout.pug

block content

    h1 Share a new link!
    
    form(method='POST' action='/createPost')
        p Subreddit:
            select(name="subredditId")
                each result in results
                    option(value=result.id) #{result.name}
        p URL:
            input(type="text" name="url")
        p Title:
            input(type="text" name="title")
        p 
            button(type='submit') Create Post!



