<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class='form'>
        <div class='formheading'>Post Content</div>
       
        <span id="error">
          <% if (error) { %>
            <%=error%>
          <% } %>
        </span>
        <form action="/CreateContent" method="post">
          <label for="title"><span>Title <span class="required">*</span></span><input type="title" class="input-field" name="title" value="" maxlength="255"/></label>
          <label for="url"><span>URL <span class="required">*</span></span><input type="url" class="input-field" name="url" value="" maxlength="255"/></label>
          <label><span>&nbsp;</span><input type="submit" value="Create" /></label>
        </form>
        </div>
    </body>
</html>