extends layout.pug

block content 
    h1 Share a new link!
    form(method='POST', action='/createPost')
      p
        | Subreddit:
        select(name='subredditId')
          option(value='') 
          each subred in subreddits
            //option(value=user._id, selected=(user._id==thing.user._id))=user.username
      p
        | URL: 
        input(type='text', name='url')
      p
        | Title: 
        input(type='text', name='title')
    