extends layout.pug

block content
  h1 Share a new link!
  form(method='POST', action='/createPost')
    p
      | Subreddit: 
      select(name='subredditId')
        each subreddit in subredditOptions
          option(value=`${subreddit.id}`) #{subreddit.name}
    p
      | URL: 
      input(type='text', name='url')
    p
      | Title: 
      input(type='text', name='title')
      
    p
      button(class='button') Submit Post
    