extends layout.pug
include mixins/post-list

block title
    title Welcome to Reddit Clone!!!

block content
    h1(class="maintitle") Welcome to Reddit!!!
    
    p(class="topnav")
      a(href='/sort/hot') HOT 
      a(href='/sort/top') TOP
      a(href='javascript:void(0);' style="font-size:15px;" class="icon")
      +postList(posts)
           
           

