extends layout.pug
include mixins/post-list

block title
    title Welcome to Reddit Clone!!!

block content
    h1 Welcome to Reddit!!!
    a(href='/sort/hot') hot 
    a(href='/sort/top') top
    +postList(posts)