<!DOCTYPE html>
<html>
<head>
  <meta charSet="utf-8"/>
  <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/jquery/logvote.js"></script>
  <script src="/jquery/signup.js"></script>
</head>
<body>
  <%-nav%>
  <main class="contents">
    <ul class="contents-list">
      <span id="contentList">
        <%-posts%>
      </span>
    </ul>
    <div class="sidebar">
      <a href="/CreateContent" class="contentButton">Submit Link</a>
    </div>
  </main>

  <div class="superbox">
    <div class='form'>
      <div class='formheading'>Sign Up!</div>

      <form action="/SignUp" method="post">
        <label for="username"><span>Username <span class="required">*</span></span><input type="text" class="input-field" name="username" value="" maxlength="20"/></label>
        <label for="email"><span>Email </span><input type="text" class="input-field" name="email" value="" maxlength="50"/></label>
        <label for="password"><span>Password <span class="required">*</span></span><input type="password" class="input-field" name="password" maxlength="50"/></label>
        <label for="confirmpassword"><span>Confirm Password <span class="required">*</span></span><input type="password" class="input-field" name="confirmpassword" maxlength="50"/></label>
        <label><span>&nbsp;</span><input type="submit" value="Sign Up" /></label>
      </form>
    </div>
  </div>

  <footer id="pages">
    <%-pages%>
  </footer>
</body>
</html>
