extends layout.pug
include mixins/post-list

block title
    title ReadIt....be LOUD!!!!

block content
    div.home
        h1 Welcome to ReadIt!
        a(href='/sort/hot') Hot
        br
        a(href='/sort/top') Top
        +postList(posts)