doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        link(href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
        block title
            title ReadIt....be LOUD!!!!
    body
        header
            div.logo
                a(href='/')
                    img(src='https://scontent.fybz2-1.fna.fbcdn.net/v/t1.0-9/20229156_1861642260755928_4405919261133155382_n.png?oh=b6b88077844cdd589e4b004b9c2a42e5&oe=59F9EDB4')
            if loggedInUser
                p Welcome #{loggedInUser.username}
            else
                div.credentials
                    ul
                        li
                            a(href="/auth/signup") Signup
                        li
                            a(href="/auth/login") Login
        main
            block content
        footer &copy; 2017 decodeMTL and Alex, Ben, Guillaume, Marissa