doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        block title
            title Redit Clone
    body
        header
            if loggedInUser
                p Welcome #{loggedInUser.username}
                 a(href="/createpost") Create Post
                 a(href='/sort/hot') hot 
                 a(href='/sort/top') top
            else
                ul
                    li
                        a(href="/auth/signup") Signup
                    li
                        a(href="/auth/login") Login
        main
            block content
        footer &copy; 2017 bruh
