doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        block title
            title Redit Clone
    body
        header
            if loggedInUser && !logoutForm
                p Welcome #{loggedInUser.username}
                ul
                    li 
                        a(href="/subreddits") Subreddits List
                    li
                        a(href="/auth/logout") Logout
            else if loggedInUser && logoutForm
                p #{loggedInUser.username} would you like to log out?
                p Click button to logout
            else
                ul
                    li
                        a(href="/auth/signup") Signup
                    li
                        a(href="/auth/login") Login
                    li
                        a(href="/subreddits") Subreddits List
        main
            block content
        footer &copy; 2017 blah