doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        link(rel="shortcut icon" type="image/png" href="/static/Reddit-icon.png")
        block title
            title Redit Clone
    body
        header
            if loggedInUser
                p Welcome #{loggedInUser.username}
                p 
                 a(href="/createpost") Create Post
            else
                ul
                    li
                        a(href="/auth/signup") Signup
                    li
                        a(href="/auth/login") Login
        main
            block content
        footer &copy; 2017 blah