doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/static/app.css")
        block title
            title DecodedReddit
    body
        header
            h3
                ul(class='MainMenu')
                    li
                        a(href="/") Home
                    li
                        a(href='/sort/top/') Top Scored Posts
                    li
                        a(href='/sort/hot/') Hottest Posts
                    li
                        a(href='/sort/commented/') Most Commented
                    li
                        a(href='/subreddit/') Subreddit

            if loggedInUser
                p Welcome #{loggedInUser.username}
            else
                ul
                    li
                        a(href="/auth/signup") Signup
                    li
                        a(href="/auth/login") Login
        main
            block content
        footer &copy; 2017 blah
        script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
        //script
        //    include ../lib/fetches.js
