<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="login.js"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class='loginform'>
        <div class='loginformheading'>Login</div>
       
        <span id="error">
          <% if (error) { %>
            <%=error%>
          <% } %>
        </span>
        <form action="/Login" method="post">
          <label for="username"><span>Username <span class="required">*</span></span><input type="text" class="input-field" name="username" value="" maxlength="20"/></label>
          <label for="password"><span>Password <span class="required">*</span></span><input type="password" class="input-field" name="password" value="" maxlength="50"/></label>
          <label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
        </form>
        </div>
    </body>
</html>