extends layout.pug
block content
 h1 Login
 form(action='/auth/login', method='POST')
  p
    |  Username: 
    input(type='text', name='username')
  p
    |  Password: 
    input(type='password', name='password')
  p
    button(type='submit') Login!
