extends layout.pug
block content
 h1 Reset Password
 form(action='/auth/resetPassword', method='POST')
  p
    input(type='hidden', name='token', value=token)
    |  New password: 
    input(type='password', name='newPassword')
    

  p
    button(type='submit') Reset my password
    
