extends layout.pug
block content
 h1 Signup
 form(method='POST' action='/auth/signup')
  p
    | Username: 
    input(type='text', name='username')
  p
    | Password: 
    input(type='password', name='password')
  p
    button(type='submit') Signup!

