@import url("metatext.css");
.commentRow {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.rootNest, .commentNest {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  border: 1px solid #cce6ff;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
}

.rootNest {
  background-color: #ffc266;
}
.commentNest {
  background-color: white;
}
.commentVotescore {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.commentUpvote, .commentDownvote {
  margin: 1px 0px;
}
.commentContent {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2px;
}

.commentText {
  table-layout: fixed;
  font: normal small verdana,arial,helvetica,sans-serif;
  width: 100%;
  word-wrap: break-word;
}

.commentMeta {
  display:flex;
  flex-direction: column;
}

.hiddenReplyBox, .replyBox {
  display:flex;
  flex-direction: column;
  align-items: flex-start;;
}
.hiddenReplyBox {
  display:none;
}

.replyTextBox {
  width: 600px;
  max-width: 100%;
  height: 150px;
}
.replyCancelButton, .replySaveButton {
  background-color: #ff9900;
  color: white;
  padding: 5px 10px;
  margin: 4px 0px;
  font-weight: bold;
}
.replyCancelButton {
  margin-left: 4px;
}
.replyCancelButton:hover, .replySaveButton:hover {
  background-color: #00cc00;
  cursor: pointer;
}
.lowerLinks {
  display: flex;
}
.lowerLinks .metalink {
  padding-right: 5px;
}
