@import url("nav.css");
@import url("contentRow.css");

.votescore{
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  color: grey;
  font-size: 15px;
}
.contents {
  display: flex;
}
.commentRow {
  display:flex;
  justify-content: flex-start;
  align-content: center;
}
.allComments {
}
.commentNest {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  border: 1px solid #0066cc;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
}
.commentVotescore {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.commentContent {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.commentText {
  display:flex;
}

.commentMeta {
  display:flex;
  flex-direction: column;
}

.contentButton {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ff9900;
  color: white;
  padding: 5px 60px;
  margin-top: 50px;
  font-family: "Arial", Serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  border-radius: 2px;
}
.contentButton:hover {
  background-color: #00cc00;
}
.hiddenReplyBox, .replyBox {
  display:flex;
  flex-direction: column;
  align-items: flex-start;;
}
.hiddenReplyBox {
  display:none;
}

.replyTextBox {
  width: 600px;
  max-width: 100%;
  height: 150px;
}
.replyCancelButton, .replySaveButton {
  background-color: #ff9900;
  color: white;
  padding: 5px 10px;
  margin: 4px 0px;
  font-weight: bold;
}
.replyCancelButton {
  margin-left: 4px;
}
.replyCancelButton:hover, .replySaveButton:hover {
  background-color: #00cc00;
  cursor: pointer;
}

.commentButtons {
  display: flex;
}
.pageBody {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 20px;
}

.contents {
  display: flex;
  justify-content: space-between;
}
