@import url("nav.css");
@import url("contentRow.css");

.contents {
  display: flex;
  justify-content: space-between;
}

.postNumber {
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: right;
}
.contents-list {
  margin: 0px;
  padding: 0px;
}
.numberedRow {
  display: flex;
  align-items: center;
}
.contentButton {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ff9900;
  color: white;
  padding: 5px 60px;
  margin-top: 50px;
  font-family: "Arial", Serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  border-radius: 2px;
}
.contentButton:hover {
  background-color: #00cc00;
}

.pagebutton{
    padding: 1px 4px;
    background: #ffc266;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: bold;
    font: normal x-small verdana,arial,helvetica,sans-serif;
    font-size: larger;
    text-decoration: none;
    color: #369;
}

.pagebutton:hover{
    border: 1px solid blue;
}

#pagenav{
    display: flex;
    justify-content: space-around;
}
