@import url("nav.css");
@import url("contentRow.css");
*{
  box-sizing: border-box;
}
body {
  position: relative;
}

#welcomeuser{
    font-family: Arial;
}

#user{
    font-weight: bold;
    color: #6699ff;
}

#heading{
	font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .04em;
}

#pages{
    margin: 0 auto;
}
.contents {
  display: flex;
  justify-content: space-between;
}
.contentButton {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ff9900;
  color: white;
  padding: 5px 60px;
  margin-top: 50px;
  font-family: "Arial", Serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  border-radius: 2px;
}
.contentButton:hover {
  background-color: #00cc00;
}

.pagebutton{
    padding: 1px 4px;
    background: #ffc266;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: bold;
    font: normal x-small verdana,arial,helvetica,sans-serif;
    font-size: larger;
    text-decoration: none;
    color: #369;
}

.pagebutton:hover{
    border: 1px solid blue;
}

#pagenav{
    display: flex;
    justify-content: space-around;
}

.popbox{
    float: left;
    position: absolute;
    /*left: 50%;*/
    top: 160px;
    z-index: 1000;
    display: none;
    border: 1px solid black;
    background-color: #0066cc;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/*To mask background when a popbox is showing*/
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

a.close{
    display: block;
    float: right;
    position: relative;
    top: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
}

a.close:hover {
  cursor:pointer
}

img.btn_close {
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}
