
.metatext, .metalink {
  color: #808080;
  font: normal x-small verdana,arial,helvetica,sans-serif;
  text-decoration: none;
}
.metalink {
  font-weight: bold;
  cursor: pointer;
}
.metalink:hover {
  text-decoration: underline;
}
.userLink {
  color: #ff9900;
  font: normal x-small verdana,arial,helvetica,sans-serif;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.userLink:hover {
  text-decoration: underline;
}
