ul.MainMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51b8e1;
}

ul.MainMenu li {
    float: left;
}

ul.MainMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

ul.MainMenu li a:hover {
    background-color: #1a7599;
}

.active {
    background-color: #4CAF50;
}

body {
    background-color: aliceblue;
}